/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

/* * {
    font-family: 'Quicksand', sans-serif;
} */

body {
    background: linear-gradient(to bottom, #134d71, #78a7c6, #f7e4bf);
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    
    margin-top: 50px;
}
section {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 650px;
    align-items: center;
}
h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
}
p {
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 5px;
}
div {
    text-align: center;
}
.budda-img {
    background-color: #ffffff;
    width: 900px;
    height: 150px;
    border-radius: 10px;
}
img {
    width: 80px;
    height: 80px;
    margin-top: 30px;
}

.btn{
    background-color: #134d71;
    color: #ffffff;
    border-radius: 5px;
    line-height: 23px;
    font-size: 22px;
    width: 250px;
}
.radio-row {
    line-height: 2;
    word-spacing: 200px;
    font-size: 22px;
    font-style: italic;
}
.radio-container {
    background-color: #ffffff;
    width: 650px;
    height: 100px;
    border-radius: 10px;
}
.btn-container {
    margin-top: 14px;
}
.circle {
    width: 45px;
}